.table{
    display: flex;
    justify-content: center;
  }
.tableCollom{
    margin: 1vh 1vw 1vh 1vw;
    width: 7vw;
    height: 4vh;
    border: 0.1vw solid;
    font-size: 1.6vw;
    text-align: center;

}
.tableCollomHeader{
    margin: 1vh 1vw 1vh 1vw;
    width: 7vw;
    height: 4vh;
    border: 0.1vw solid;
    font-size: 1.4vw;
    text-align: center;


}
}
/*
.tableRow{
  width: 50vw;
  padding 10vw;
}
.tableRowHeader{
    width: 30vw;
}*/

