.table{
    display: flex;
    justify-content: center;
}
.tableCollom{
    margin: 2vh 1vw 1vh 1vw;
    width: 7vw;
    height: 5vh;
    border: 0.1vw solid;
    border-radius: 15%;
    font-size: 1.3vw;
    text-align: center;
    background-color: #222022;
    color: white;
}
.tableCollomHeader{
    margin: 1vh 1vw 1vh 1vw;
    width: 7vw;
    height: 4vh;
    border: 0.1vw solid;
    font-size: 1.4vw;
    text-align: center;
    background-color:#625d62;
    color: white;
}
